<!-- Publications Grid -->
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].publications.section | default: "publications" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].publications.title | markdownify | default: "Publications" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].publications.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
	{% for project in site.publications %}
      <div class="col-md-4 col-sm-6 publications-item">
        <a class="publications-link" data-toggle="modal" href="#p{{ forloop.index }}">
          <div class="publications-hover">
            <div class="publications-hover-content">
              <i class="{{ site.data.style.publications-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
        </a>
        <div class="publications-caption">
          <h4>{{ project.caption.title }}</h4>
          <p class="text-muted">{{ project.caption.subtitle }}</p>
        </div>
      </div>
	{% endfor %}
    </div>
  </div>
</section>
{% include modals.html %}